In [38]:
import numpy as np

In [39]:
data = np.genfromtxt('Datasets/spamnewf.csv',dtype = str,delimiter = ',')
data

array([['Message', 'Spam/Ham'],
       ["I'm gonna be home soon and i don't want to talk about this stuff anymore tonight k? I've cried enough today",
        'ham'],
       ['Where r u going', 'ham'],
       ['Won a lottery', 'spam']], dtype='<U107')

In [40]:
import pandas as pd
df = pd.read_table('Datasets/spam.tsv')
df

     label                                            message  length  punct
0      ham  Go until jurong point, crazy.. Available only ...     111      9
1      ham                      Ok lar... Joking wif u oni...      29      6
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
3      ham  U dun say so early hor... U c already then say...      49      6
4      ham  Nah I don't think he goes to usf, he lives aro...      61      2
...    ...                                                ...     ...    ...
5567  spam  This is the 2nd time we have tried 2 contact u...     160      8
5568   ham               Will ü b going to esplanade fr home?      36      1
5569   ham  Pity, * was in mood for that. So...any other s...      57      7
5570   ham  The guy did some bitching but I acted like i'd...     125      1
5571   ham                         Rofl. Its true to its name      26      1

[5572 rows x 4 columns]

In [41]:
df.shape

(5572, 4)

In [42]:
x = df.iloc[:,1].values
x

array(['Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...',
       'Ok lar... Joking wif u oni...',
       "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's",
       ..., 'Pity, * was in mood for that. So...any other suggestions?',
       "The guy did some bitching but I acted like i'd be interested in buying something else next week and he gave it to us for free",
       'Rofl. Its true to its name'], dtype=object)

In [43]:
y = df.iloc[:,0].values
y

array(['ham', 'ham', 'spam', ..., 'ham', 'ham', 'ham'], dtype=object)

In [44]:
np.unique(y)

array(['ham', 'spam'], dtype=object)

In [45]:
unique_labels, counts = np.unique(y, return_counts=True)
print(unique_labels)
print(counts)
len(y)

['ham' 'spam']
[4825  747]

5572

#

In [46]:
df.describe()

            length        punct
count  5572.000000  5572.000000
mean     80.489950     4.177495
std      59.942907     4.623919
min       2.000000     0.000000
25%      36.000000     2.000000
50%      62.000000     3.000000
75%     122.000000     6.000000
max     910.000000   133.000000

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 4 columns):
label      5572 non-null object
message    5572 non-null object
length     5572 non-null int64
punct      5572 non-null int64
dtypes: int64(2), object(2)
memory usage: 174.2+ KB

In [48]:
df.columns

Index(['label', 'message', 'length', 'punct'], dtype='object')

In [49]:
df_string = df.copy()
df_string = df_string.drop(columns='length')
df_string = df_string.drop(columns='punct')
df_string

     label                                            message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham               Will ü b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [50]:
df_string['message']

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: message, Length: 5572, dtype: object

In [51]:
df_string.describe()

       label                 message
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

In [52]:
df.groupby('label').describe()

       length                                                           \
        count        mean        std   min    25%    50%    75%    max
label
ham    4825.0   71.482487  58.440652   2.0   33.0   52.0   93.0  910.0
spam    747.0  138.670683  28.873603  13.0  133.0  149.0  157.0  223.0

        punct
        count      mean       std  min  25%  50%  75%    max
label
ham    4825.0  3.939896  4.734768  0.0  1.0  3.0  5.0  133.0
spam    747.0  5.712182  3.460834  0.0  3.0  5.0  8.0   26.0

In [53]:
df_string.groupby('label').describe()

      message
        count unique                                                top freq
label
ham      4825   4516                             Sorry, I'll call later   30
spam      747    653  Please call our customer service representativ...    4

In [54]:
df_string['length'] = df_string['message'].apply(len)
df_string.head()

  label                                            message  length
0   ham  Go until jurong point, crazy.. Available only ...     111
1   ham                      Ok lar... Joking wif u oni...      29
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155
3   ham  U dun say so early hor... U c already then say...      49
4   ham  Nah I don't think he goes to usf, he lives aro...      61

In [70]:
s = df_string['message'][0]
print(s)
print(s.split())
print(len(s.split()))

Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...
['Go', 'until', 'jurong', 'point,', 'crazy..', 'Available', 'only', 'in', 'bugis', 'n', 'great', 'world', 'la', 'e', 'buffet...', 'Cine', 'there', 'got', 'amore', 'wat...']
20

In [58]:
df_string['word_count'] = df_string['message'].apply(lambda x : len(x.split()))

In [59]:
df_string['word_count']

0       20
1        6
2       28
3       11
4       13
        ..
5567    30
5568     8
5569    10
5570    26
5571     6
Name: word_count, Length: 5572, dtype: int64

In [60]:
df_string['char_count'] = df_string['message'].apply(lambda x : len(x.replace(" ","")))
df_string['char_count']

0        92
1        24
2       128
3        39
4        49
       ...
5567    131
5568     29
5569     48
5570    100
5571     21
Name: char_count, Length: 5572, dtype: int64

In [71]:
df_string['word_density'] = df_string['word_count'] / (df_string['char_count'])
df_string['word_density']

0       0.217391
1       0.250000
2       0.218750
3       0.282051
4       0.265306
          ...
5567    0.229008
5568    0.275862
5569    0.208333
5570    0.260000
5571    0.285714
Name: word_density, Length: 5572, dtype: float64

In [72]:

df_string[['word_count', 'char_count', 'word_density']].head(10)

   word_count  char_count  word_density
0          20          92      0.217391
1           6          24      0.250000
2          28         128      0.218750
3          11          39      0.282051
4          13          49      0.265306
5          32         116      0.275862
6          16          62      0.258065
7          26         135      0.192593
8          26         132      0.196970
9          29         126      0.230159

In [73]:
df_string

,label,message,length,word_count,char_count,word_density
0,ham,"Go until jurong point, crazy.. Available only ...",111,20,92,0.217391
1,ham,Ok lar... Joking wif u oni...,29,6,24,0.250000
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,155,28,128,0.218750
3,ham,U dun say so early hor... U c already then say...,49,11,39,0.282051
4,ham,"Nah I don't think he goes to usf, he lives aro...",61,13,49,0.265306
...,...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,160,30,131,0.229008
5568,ham,Will ü b going to esplanade fr home?,36,8,29,0.275862
5569,ham,"Pity, * was in mood for that. So...any other s...",57,10,48,0.208333
5570,ham,The guy did some bitching but I acted like i'd...,125,26,100,0.260000
5571,ham,Rofl. Its true to its name,26,6,21,0.285714

In [83]:
df_string.groupby('label',sort = False).count()

       message  length  word_count  char_count  word_density
label
ham       4825    4825        4825        4825          4825
spam       747     747         747         747           747

In [104]:
mel_count=df_string['message'].str.contains('esplanade').sum()
if mel_count>0:
    print ("There are {m} values".format(m=mel_count))

There are 3 values

In [125]:
gk = df.groupby('label')
gk.first()

                                                 message  length  punct
label
ham    Go until jurong point, crazy.. Available only ...     111      9
spam   Free entry in 2 a wkly comp to win FA Cup fina...     155      6

In [126]:
gk.get_group('spam').head()

                                              message  length  punct
2   Free entry in 2 a wkly comp to win FA Cup fina...     155      6
5   FreeMsg Hey there darling it's been 3 week's n...     147      8
8   WINNER!! As a valued network customer you have...     157      6
9   Had your mobile 11 months or more? U R entitle...     154      2
11  SIX chances to win CASH! From 100 to 20,000 po...     136      8